.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 30vw;
    height: 30vh;
    margin-top: 25px;
    &__description{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}
.image{
    width: 150px;
    height: 150px;
    border-radius: 4px;
    margin-left: 10px;
}